.com-modal-todo-add-edit :global {
  @apply md:px-3;
  .abc-modal-content {
    @apply mx-auto max-w-[343px] p-4 md:max-w-[784px] md:p-10;
    @apply font-medium md:text-h3;
  }
  .abc-modal-header {
    @apply p-0 pb-4 md:pb-6;
  }
  .abc-modal-body {
    @apply px-0 py-0;
  }
  .abc-modal-footer {
    @apply px-0 pb-0 pt-2;
    @apply md:pt-4;
  }
  .form-input {
    @apply leading-5;
    @apply p-3 placeholder:text-h6 placeholder:font-normal placeholder:text-black/20;
    @apply md:placeholder:text-h4 md:placeholder:font-normal;
  }
  .title {
    @apply text-h4 font-medium;
    @apply md:text-h3;
  }
}
