.contents :global {
  @apply w-[406px];
  .wrapper {
    @apply py-4 text-h7;
  }
  hr {
    @apply mt-4;
  }
  .header {
    @apply relative text-center;
    .title {
      @apply text-base font-semibold text-slate-500;
    }
    .ico {
      @apply absolute top-0 right-[14px];
      @apply cursor-pointer text-slate-500;
    }
  }
  .empty {
    @apply mt-4 text-center text-slate-500;
  }
  .item {
    @apply relative flex cursor-pointer gap-2 px-4 py-1.5;
    @apply hover:bg-sky-50;
  }
  .content {
    @apply w-[310px] line-clamp-2;
    a {
      @apply text-slate-700 underline;
    }
  }
  .time {
    @apply text-xs;
  }
  .dot {
    @apply absolute top-2 right-3;
    @apply inline-block h-3 w-3 rounded-full bg-sky-500;
  }
  .load-more {
    @apply mt-3 cursor-pointer;
    @apply text-center text-slate-500 underline;
  }
}
